<!DOCTYPE html>
<html>
  <head>
    <title>Couch9</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.bg = '<%= asset_url('bg.png')%>'
      window.gh = '<%= image_url('gh.png')%>'
      window.heroku = '<%= image_url('heroku.svg')%>'
      window.linkedin = '<%= image_url('linkedin.png')%>'
      window.earth = '<%=image_url('earth.svg')%>'
      window.logo = '<%=image_url('logo.png')%>'
      window.search = '<%=image_url('search.png')%>'
      window.chat = '<%=image_url('chat.svg')%>'
      window.calendar = '<%=image_url('calendar.svg')%>'
      window.envelope = '<%=image_url('envelope.svg')%>'
      window.profile = '<%=image_url('profile.svg')%>'
      window.cog = '<%=image_url('cog.svg')%>'
      window.paris = '<%=image_url('paris.jpg')%>'
      window.rome = '<%=image_url('rome.jpg')%>'
      window.nyc = '<%=image_url('nyc.jpg')%>'
      window.profpic = '<%=image_url('profpic.jpeg')%>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
